<form [formGroup]="form" (ngSubmit)="submit(form.value)">
  <app-team-selector formControlName="teamSelector" [(ngModel)]="selectedTeamName"></app-team-selector>
  <app-channel-selector formControlName="channelSelector" [(ngModel)]="selectedChannel"></app-channel-selector>
  <button type="submit" mat-button>
    Search
    <mat-icon>search</mat-icon>
  </button>
</form>
<!-- <pre>{{ form.value | json }}</pre> -->

<app-youtube-player [vid]="videoId"></app-youtube-player>

<ul>
  <li *ngFor="let video of results" (click)="changeVideo(video.id.videoId)">
    {{ video.snippet.title }}
    <!-- <img [src]="video.snippet.thumbnails.default.url"/> -->
  </li>
</ul>

<app-standings></app-standings>