<!-- <div class="pos-f-t fixed-top header">
    <nav class="navbar  navbar-toggleable-md">

        <a class="navbar-brand">Highlight</a>
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto mt-2 mt-md-0">


            </ul>
        </div>
    </nav>
</div> -->

<mat-toolbar class="header">NBA Highlights Searcher
    <app-standings matTooltip="Standings"></app-standings>
    <a href={{url}} target="blank" mat-button matTooltip="Manage Channels">
        <mat-icon>settings</mat-icon>
    </a>
</mat-toolbar>