.team-selector-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.team-selector-full-width {
    width: 100%;
}

::ng-deep .mat-option {
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    color: #F072A9;
    /* padding: 5px 1px 5px 8px; */
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width: 100%;
}