.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 75px;
  height:75px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}


.hamburger span {
  display: block;
  position: absolute;
  top: 35px;
  right: 15px;
  left: 15px;
  height: 5px;
  background: #1a2580;
}

.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1a2580;
  content: "";
}

.hamburger span::before {
  top: -20px;
}

.hamburger span::after {
  bottom: -20px;
}
.sidenav-container .mat-sidenav-content,
.sidenav-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.sidenav-container mat-sidenav {
  /* max-width: 200px; */
  /* for testing content */
  max-width: 200px;
}

.scrolling-content {
  overflow: hidden;
  height: 100%;
}

.sidenav-container {
  /* width: 500px; */
  height: 900px;
  
}

