<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.index + 1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.team}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="w">
      <mat-header-cell *matHeaderCellDef> W </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.w}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="l">
      <mat-header-cell *matHeaderCellDef> L </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.l}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="homeRecord">
      <mat-header-cell *matHeaderCellDef> Home </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.homeRecord}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="roadRecord">
      <mat-header-cell *matHeaderCellDef> Road </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.roadRecord}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="wPct">
      <mat-header-cell *matHeaderCellDef> Win% </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.wPct}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
